<div>
  <h1>Categories</h1>
  <div id="categories">
    <div>
      <button id="new-category-btn">New category</button>
      <div id="add-category-div" style="display: none">
        <input />
        <button id="add-category-btn">Add</button>
        <button id="discard-category-btn">Discard</button>
      </div>
    </div>
    <div id="all-categories"></div>
  </div>
</div>
